*.zip binary
*.7z  binary
*.gz  binary
*.bz2 binary
*.xz  binary

*.png  binary
*.jpg  binary
*.jpeg binary
*.gif  binary
*.ico  binary


# BizHawk
*.bkm binary
*.bk2 binary

# FCEUX
*.fm2 binary
*.fm3 binary

# Mesen
*.cdl binary
*.mlb text eol=lf

# VBA
*.vbm binary
